hr{
    margin: 0 8%;
}

/*Image HERO like*/

.carousel-nostros{
    margin-bottom: 4rem;
    margin-top: 0.5rem;
    overflow: hidden;
}

.carousel-nosotros-track{
    position: relative;
    display: inline-flex;
    z-index: -100;
    will-change: transform; 
}

.carousel-nosotros-track img{
    flex-shrink: 0;
    width: 50vw;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NOSOTROS Secciones */
.nosotros-section h1, h2, p{
    margin: 0;
    padding: 0;
    color: black;
}

.nosotros-section{
    margin: 1.5rem 8%;
}

.nosotros-section > :nth-child(1){
    flex: 1;
    font-size: x-large;
}

.nosotros-section > :nth-child(2){
    flex: 2;
    margin-top: 0.5rem;
    padding-left: 0rem;
}

/* FAQ */

#faq{
    list-style: none;
    border-radius: 8px;
    overflow: hidden;
}

.answer{
    height: 0;
    background-color: rgb(190, 239, 248);
    color: transparent;
    overflow: hidden;
    padding: 0rem 0.85rem;
    transition: all 0.3s ease;
}

.answer-show{
    overflow: visible;
    height: auto;
    padding: 0.65rem 0.85rem;
    color: black;

}

.answer-hide{
    height: 0;
    display: none;
}

.nosotros-section li div{
    background-color: rgb(233, 233, 233);
    display: flex;
    padding: 0.65rem;
    font-size: x-small;
    gap: 1rem;
    border-bottom: 0.05rem solid rgb(212, 212, 212);
}

.nosotros-section li div h2{
    font-weight: 600;
}

.nosotros-section div.faq-downcorner{
    border-bottom: 0;
}

#faq button{
    background-color: transparent;
    text-decoration: none;
    border: 0;
}

#faq button:hover{
    background-color: aliceblue;
}



/* PARTICIPANTES */
.particpantes{
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0rem;
}

.particpantes h2{
    border: 0.05rem solid rgb(212, 212, 212);
    padding: 0.65rem 1.75rem;
    text-align: center;
    border-radius: 6px;
    font-size: small;
    font-weight: 700;
}
.particpantes a{
    text-decoration: none;
}

/* PANELES APOYO */

#apoyo-top h1{
    margin: 3rem 0 1rem 8%;
    text-align: left;
}

#apoyo-top > p{
    margin: 0 8% 3rem 8%;
}

#panel-top{
    margin: 0 8%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.panel{
    background-color: white;
    text-decoration: none;
    
    box-shadow: 0px 4px 0px #c0c0c0;
    border-radius: 15px;

    overflow: hidden;
    padding: 2rem;
    
    height: 115px;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease;

    align-items: center;
    display: flex;
    justify-content: center;

}

#patreon{
    flex-direction: row;
}

#patreon img{
    max-width: 5rem;
}

#kofi img{
    width: 65%;
    /*
    */
}

.full-width{
    margin-top: 0rem;
}

.panel:hover{
    transform: translateY(-8px);
    box-shadow: 0px 12px 3px #c0c0c0;
}

/* LIST OBRAS */
#apoyo-list{
    margin: 3rem 8%;
}

#apoyo-list h1{
    text-align: left;
}

#apoyo-list ul{
    margin: 0 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.8rem;
    flex-direction: column;
}

/* OBRAS faq */
.nosotros-section.apoyo{
    margin: 4rem 8% 4rem 8%;
}
.nosotros-section.apoyo > h1{
    text-align: left;
    margin-bottom: 1rem;
}    

@media (min-width: 576px) {

    /* NOSOTROS Secciones */
    
    .nosotros-section{
        display: flex;
        margin: 1rem 8%;
        flex-wrap: wrap;
    }
    
    .nosotros-section > :nth-child(2){
        margin-top: 0rem;
        padding-left: 0.2rem;
    }
    
    /* FAQ */
    .nosotros-section li div{
        padding: 1.15rem;
        font-size: small;
    }
    
    .nosotros-section li div h2{
        font-weight: 500;
    }
    
    /* PARTICIPANTES */
    
    .particpantes h2{
        font-size: medium;
    }

    /*PANELES APOYO*/
    .nosotros-section.apoyo{
        display: block;
    }
    
    /* APOYO */
    #panel-top{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .panel{
        height: 250px;
        flex: 1;
    }

    #patreon{
        flex-direction: column;
        gap: 1.5rem; 
    }

    #patreon img{
        max-width: 10rem;
    }

    .full-width{
        height: 115px;
        margin-top: 1rem;
        flex-basis: 100%;
    }

    #apoyo-top h1{
        margin: 3rem 0 1rem 0;
        text-align: center;
    }
    
    #apoyo-top > p{
        margin: 0 25% 3rem 25%;
    }

    /* LIST OBRAS */
    #apoyo-list{
        margin: 3rem 0;
    }

    #apoyo-list h1{
        text-align: center;
    }

    #apoyo-list ul{
        margin: 0.8rem 8%;
        padding: 0;
        flex-direction: row;
    }

    /* APOYO faq */
    .nosotros-section.apoyo{
        margin: 4rem 25% 4rem 25%;
    }

    /* APOYO faq */

    .nosotros-section.apoyo > h1{
        text-align: center;
        margin-bottom: 3rem;
    }    
}

