<div class="carousel-nostros">
    <div class="carousel-nosotros-track" >
      <img src="./assets/apoyo.png" loading="lazy" alt="taller de cartas">
      <img src="./assets/apoyo.png" loading="lazy" alt="taller de cartas">
    </div>
</div>

<section id="apoyo-top">
  <h1>AYÚDANOS A CONTINUAR</h1>
  <p>Nos encanta hacer arte, siempre nos esforzamos por crear el tipo de obras que nos gustaría ver y apreciamos la compañía de todas las personas que expresan su gusto por lo que hacemos. Sin embargo esto es un gran riesgo para nuestra economía pues lo hacemos en nuestro tiempo libre y es casi imposible lucrar con el contenido de nuestras obras para recibir aunque sea para recibir aunque sea el costo de su creación y mantenimiento (cómo pagar el trabajo, derechos de autor, incluso esta página). Así que si disfrutas de lo que hacemos te invitamos a realizar un donativo para que sigamos aquí y tener una calidad de vida un poquito mejor.
    <br>
    <br>
    Puedes donar en cualquiera de las siguientes páginas:
  </p>
  <div id="panel-top">
    <a href="https://ko-fi.com/sconin" id="kofi" class="panel" target="_blank">
      <img src="./assets/brand/kofi_logo.png" alt="">
    </a>
    <a id="patreon" class="panel" href="https://www.patreon.com/sconin" target="_blank">
      <img src="./assets/brand/PATREON_SYMBOL_1_BLACK_RGB.png" alt="patreon ">
      <img src="./assets/brand/PATREON_WORDMARK_1_BLACK_RGB.png" alt="">
    </a>
  </div>

</section>

<section id="apoyo-list">
  <h1>AGRADECIMIENTOS ESPECIALES</h1>
  <ul>
    <li>Ramiro Villarreal</li>
    <li>Adan Medrano</li>
    <li>Nora Díaz</li>
    <li>Lyeh Uzaky</li>
    <li>Ana Torres</li>
  </ul>
</section>

