<div class="carousel-nostros">
    <div class="carousel-nosotros-track" >
      <img src="./assets/Nosotros_2.webp" loading="lazy" alt="taller de cartas">
      <img src="./assets/Nosotros_2.webp" loading="lazy" alt="taller de cartas">
      <img src="./assets/Nosotros_2.webp" loading="lazy" alt="taller de cartas">
      <img src="./assets/Nosotros_2.webp" loading="lazy" alt="taller de cartas">
    </div>
</div>

<section id="trabajos-top">
  <div id="panel-top">
    <div class="panel" >
      <h2>Ko-fi</h2>
    </div>
    <div class="panel" >
      <h2>Patreon</h2>
    </div>
    <div class="panel full-width">
      <h2>Panel</h2>
    </div>
  </div>

  <h1>LOREM IPSUM</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores eveniet, provident natus nam tempore ratione,</p>
</section>

<hr>

<section id="trabajos-list" >
  <h1>LOREM IPSUM</h1>
  <ul>
    <li>lorem impsum </li>
    <li>lorem impsum</li>
    <li>lorem impsum</li>
    <li>lorem impsum</li>
  </ul>
  <ul>
    <li>lorem impsum</li>
    <li>lorem impsum</li>
    <li>lorem impsum</li>
    <li>lorem impsum</li>
  </ul>
</section>

<hr>

<section class="nosotros-section obras">
  <h1>LOREM IPSUM</h1>
  <ul id="faq">
  </ul>
</section>
